:root {
    --dark: rgb(37, 37, 37);
    --light: rgb(255, 255, 255);
    --header: rgb(57, 122, 117);
    --buttons: rgb(194, 156, 62, 0.781);
    }

/*Global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /*
    border: 1px solid red; */ 
}

body{
    background-color: var(--dark);
    overflow: hidden;
}

p {
    color: white;
    font-size: 13px;
}

button {
    outline: none;
    background-color: black;
    color: var(--light);
    font-size: 13px;
}

button:hover {
    cursor: pointer;
}

h1{
    font-size: 60px;
    
}

h2 {
    font-size: 50px;
}

h1,
h2 {
    color: var(--header);
}

/* Outer container */

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    height: 100vh;
}

/* Top Bar styling */

.top-section p {
    float: right;
}

/* Inner container styling */

.inner-container {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 50%;
    margin: 0 auto;
}

/* Header/Intro styling */
.quiz-intro {
    text-align: center;
    margin: 5px;
    margin-top: 250px;
    line-height: 2;
    }

.quiz-intro p {
    font-size: 20px;
}

.quiz-intro button {
    background-color: var(--buttons);
    font-size: 20px;
    outline: 1px solid black;
    border-radius: 25px;
    width: 60px;
}


/* Main/Quiz styling */

.quiz-content {
    display: none;
    text-align: center;
    margin: 5px;
    margin-top: 250px;
    line-height: 2;
    }

ul {
    list-style: none;
    margin-left: 350px;
}

li {
    background-color: var(--buttons);
    margin: 35px;
    width: 25%;
    border-radius: 25px;
    }

li:hover {
    cursor: pointer;
}
